<h1 class="text-center">Add a new bookmark</h1>
<div class= "row">

  
  <%= simple_form_for [@list, @bookmark], html: { class: "bookmark-form" } do |f| %>
    <%= f.association :movie, collection: Movie.all %>
    <%= f.input :comment %>
    <%= f.button :submit, class: 'btn btn-success mt-3' %>
    <%= link_to 'Back to list', list_path(@list), class: 'btn btn-primary mt-3' %>
  <% end %>
  
</div>
